<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 text-white font-weight-bold ">
      {{currentQuestionNumber}}. {{questionArray[currentQuestionNumber-1].description}}
    </div>
  </div>

  <ul class="row mt-4 mb-4 list-group" *ngFor="let option of questionArray[currentQuestionNumber-1].options; let indx = index">
      <li class="col-12 list-group-item">
        <input type="radio" (change) = "onClickRadioButton(indx)" [checked]="currentRadioSelected==indx" [disabled]="this.showAnswers" />
        {{option}}
      </li>
  </ul>

  <div class="row mt-4 mb-4" *ngIf="this.showAnswers">
    <div class="col-12 text-lg-left">
      <div class="row" *ngIf="this.manageQuestionsService.userAnswers[currentQuestionNumber-1]">
        Your Answer: {{this.manageQuestionsService.userAnswers[currentQuestionNumber-1]}}
      </div>
      <div class="row" *ngIf="!this.manageQuestionsService.userAnswers[currentQuestionNumber-1]">
        Your Answer: No Options Selected!
      </div>
    </div>
    <div>
      Correct Answer: {{this.manageQuestionsService.getResultByQuestionId(currentQuestionNumber)}}
    </div>
  </div>

  <div class="row">
    <div class="mt-4 mr-4" >
      <input type="button" class="btn btn-primary" value="PREV" [disabled]="this.currentQuestionNumber==1" (click)="prevQuestionEventHandler()">
    </div>
    <div *ngIf="currentQuestionNumber < questionArray.length;then ifTemplate; else elseTemplate">
    </div>
    <ng-template  #ifTemplate>
      <div class="mt-4">
        <input type="button" class="btn btn-primary" value="NEXT" [disabled]="this.currentRadioSelected==-1 && !this.showAnswers" (click)="nextQuestionEventHandler()">
      </div>
    </ng-template>
    <ng-template #elseTemplate>
      <div class="mt-4">
        <input type="button" class="btn btn-primary" value="SUBMIT" [disabled]="this.currentRadioSelected==-1 || this.showAnswers" (click)="submitEventHandler()">
      </div>
    </ng-template>
  </div>
</div>
