<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="list-group list-unstyled">
        <li class="list-group-item">
          1. Total number of questions: 15
        </li>
        <li class="list-group-item">
          2. Time Duration : 30 min
        </li>
        <li class="list-group-item">
          3. You can only participate as an individual.
        </li>
        <li class="list-group-item">
          4. Final score will be calculated after plagiarism check. In case of any unfair practice is done, you will be penalised
        </li>
      </ul>
    </div>
    <div class="col-12 text-center card-footer">
      <input class="btn btn-lg btn-primary" value="START" type="button" (click)="startToTestPage()">
    </div>
  </div>
</div>
